.search-container {
  padding: 0 20px 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 100px;
  margin-bottom: 100px;
  .return-button {
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: 1px solid lightgray;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: black;
    background-color: inherit;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    &:hover {
      transition: 0.5s;
      color: black;
      border: 1px solid #242222;
    }
  }
}
.search-loading {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    h1 {
      margin-bottom: 20px;
    }
    .return-button {
      width: max-content;
    }
  }
  .container span {
    display: block;
    padding: 0;
    text-align: center;
  }
}
